@page
@model BulkyWebRazor_Temp.Pages.Categories.IndexModel
<h1>Categories List</h1>
@* retrieveing or defining the model  *@

@* @if(TempData["success"] != null)
{
    <h2>@TempData["success"]</h2>
} *@

@* <partial name="_Notification" /> *@
<div class="container">
    <div class="row pt-4 pb-3">
        <div class="col-6">
            <h2 class="text-primary">Category List</h2>
        </div>
        <div class="col-6 text-end">
            <a asp-page="/Categories/Create" class="btn btn-primary"><i class="bi bi-plus"></i>Create new Category</a>
        </div>
    </div>
    <table class="table table-bordered table-striped border-black border-3">
        @* you can write C# code inside view like if , loops etc unlike .net old *@
        <thead>
            <tr>
                <th>
                    Category Name
                </th>
                <th>
                    Display Order
                </th>
                <th>
                    Actions To Perform
                </th>
            </tr>
        </thead>
        <tbody>
            @foreach (var obj in Model.CategoryList.OrderBy(u=>u.DisplayOrder))
            {
                <tr>
                    <td>@obj.Name</td>
                    <td>@obj.DisplayOrder</td>
                    <td>
                        <a asp-page="/Categories/Edit" asp-route-id="@obj.Id" class="btn btn-primary"><i class="bi bi-pencil-square"></i>Edit</a>
                        <a asp-page="/Categories/Delete"  asp-route-id="@obj.Id" class="btn btn-danger"><i class="bi bi-trash"></i>Delete</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>

</div>